* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
background-color: #f00000;
  height: 500px;
  width: 500px;
  display:grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-columns:1fr 1fr 1fr ;
  gap: 3px;
}
div{
    background-color: #0c17de;
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.sidebar{
    grid-row: 2/4;
}
.c1{
    grid-column: 2/4;
}
.Footer{
    grid-column:1/4 ;
}