*{
    padding:0;
    margin:0;
}

.Box{
    background-color: #a33636;
}
.container{
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
}
.First{
    grid-row: 1/4;
}
.Second{
    grid-column: 2/4;
}
.Sixth{
    grid-row: 2/4;
    grid-column: 4/5;
}