* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 500px;
  width: 500px;
  background-color: #a05555;
  border: #ff0000 solid 5px;
}
.box1 {
  height: 6;
  width: 6;
  background-color: #ffffff;
}
.box2 {
  height: 6;
  width: 6;
  background-color: #000000;
}
